html{
    font-size: 60%;
}

h1{
    font-size: 2.6rem;
}

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 4.8rem;
}

h3{
    font-size: 3rem;
    font-weight: normal;
}

h4,h5{
    font-size: 2.8rem;
}

li{
    font-size: 2.2rem;
}

a{
    color: #1197B8;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* HEADER*/

.main-head {
    background: #0a2b19;

}

nav{
    min-height: 5vh;
    display: flex;
    align-items: center;
    width: 90%;
    padding: 1rem;
    flex-wrap: wrap;
}

nav ul{
    
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


#Logo{
    flex: 3 1 40rem;
}

/* main-page*/

body{
    background: url('./images/vinyl.jpg');
    background-size: cover;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

text{
    background-color: blanchedalmond;
}
.main-page, .h3{
    
    color: #1197B8;
    margin-top: 10%;
    text-align: center;
    text-justify: auto;
}

button{
    padding: 2rem 6rem;
    background: #0a2b19;
    color: #FFFFFF;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 885px) {
    nav{
        text-align: center;
    }
    #Logo{
        padding: 2rem;
    }
    
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /*-------------------------Buy page ----------------*/

  
table,.add-cart
{
    font-size: large;
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    background-color: blanchedalmond;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid #1197B8;
    color: #1197B8;
}


  /*------------------------ cart ---------------*/

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


header {
    background: #0a2b19;
    color: #FFFFFF;
    height: 150px;
    position: relative;
}


nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;


}

.container, .products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span{
    padding-left: 5px;
}


/*----------------------------CART PAGE-----------------------*/

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    background-color: blanchedalmond;

}




.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title{
    width: 45%;
    color: #1197B8;
    
}

.price-title{
    color: #1197B8;
    width: 15%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.quantity-title{
    color: #1197B8;
    width: 30%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.total-title{
    color: #1197B8;
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    margin-left: -5%;
}

.product {
    color: #1197B8;
    font-size: large;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    margin-left: -90%;
    margin-top: 10%;
}

.price{
    color: #1197B8;
    font-size: large;
    margin-top: -15%;
    margin-left: 50%;
}

.quantity{
    color: #1197B8;
    font-size: large;
    margin-top: -12%;
    margin-left: 120%;
}

.total{
    color: #1197B8;
    font-size: large;
    margin-top: -10%;
    margin-left: 150%;
}

.basketTotalContainer {
    color: #1197B8;
    display: flex;
    justify-content: flex-end;
    width: 150%;
    padding: 10px 0;
    margin-left: 20%;
    margin-top: 10%;
}

.basketTotalTitle{
    color: #1197B8;
    width: 30%;
}

.basketTotal{
    color: #1197B8;
    width: 10%;
}

